.big-container {
    width: 50%;
    margin: auto;
}

.course-list-title {
    text-align: center;
    margin-top: 40px;
}

.course-selection-list {
    background: #3b4051;
}

.course-selection-class {
    text-decoration: none;
}

.course-selection-list-item .md-text{
    margin-left: 10px;
    color: aliceblue
}

.leaderboard-button {
    width: 100%;
}

/* Fonts */
.course-list-title,
.course-list-username,
.course-selection-list-item .md-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 22px;
}

.course-list-title {
    font-size: 33px;
}

.course-list-username {
    font-size: 20px;   
}