.main-contents-header {
    margin: 0px 0px 40px 0px;
    text-align: left;
}

/* Fonts */
.main-contents-header {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 30px;
}

.add-content-button {
    margin-right: -900px;
    margin-top: -150px;
}