@import 'globals';

@include react-md-everything;

body {
  margin: 0;
}

.md-drawer {
  background: $md-blue-grey-900
}

.md-list--drawer {
  background: #3b4051
}

.md-icon {
  color:  aliceblue;
}

.md-tile-text--primary.md-text {
  color: aliceblue;
}