@import 'globals';

@include react-md-everything;

body {
  margin: 0;
}

.md-drawer {
  background: $md-blue-grey-900
}

.md-list--drawer {
  background: #3b4051
}

.md-icon {
  color:  aliceblue;
}

.md-tile-text--primary.md-text {
  color: aliceblue;
  text-align: left;
}

.md-text--theme-primary {
  text-align: left;
}

.md-tile-content--left-icon {
  padding-left: 12px;
}

.section-header {
  text-align: left;
}

// .md-tooltip-container.md-icon{
//   position: relative;
//   left: 50px;
//   padding-top: 50px;
// }

.content-edit-box {
  width: 1000px;
  height: 400px;
  position: relative;
  left: 200px;
  padding-top: 150px;
}
