.big-container {
    width: 50%;
    margin: auto;
}

.leaderboard-list-title {
    text-align: center;
    margin-top: 40px;
}

.leaderboard-list {
    background: #3b4051;
}

.leaderboard-class {
    text-decoration: none;
}

.leaderboard-list-item .md-text{
    margin-left: 10px;
    color: aliceblue
}

.leaderboard-score-item {
    color: aliceblue;
}

.back-button {
    width: 100%;
}

/* Fonts */
.leaderboard-list-title,
.leaderboard-list-item .md-text,
.leaderboard-score-item {
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    font-size: 22px;
}

.leaderboard-list-title {
    font-size: 33px;
}