.empty-content-container {
    height: 200px;
}

.empty-content-buttons-flexbox {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.empty-content-button {
    width: 70px;
    height: 70px;
    margin: 0px 20px 0px 20px;
}

.empty-content-button .md-icon {
    font-size: 40px;
}
