.empty-content-container {
    padding-top:65px;
    height: 200px;
    vertical-align: bottom;
}

.empty-content-button {
    width: 70px;
    height: 70px;
    margin: 0px 20px 0px 20px;
}

.empty-content-button .md-icon {
    font-size: 40px;
}